# 以# 开头为注释行，被忽略

# 为git忽略跟踪配置文件

# 忽略所有python 的pyc缓冲文件
*.pyc

# 忽略所有SqlPack/文件夹内的文件，因为里面有基本配置信息
app/api_1_0/api_functions/SqlPack/

# 忽略根目录下的config.py配置文件，含有基本配置信息
/config.py

# 剔除.idea文件夹的跟踪
.idea/

# 剔除flaskenv文件夹的跟踪
flaskenv/
