{% extends "main_base.html" %}


{% block title %}新卡测试专项{% endblock %}

{% block head %}
{{ super() }}
{% assets "new_vsim_test_info_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block modal %}
<!-- set Modal -->
<div class="modal fade" id="newVsimTestInfo-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--progress Modal -->
<div class="modal fade" id="newVsimTestInfo-progress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="newVsimTestInfo-ModalLabel">请等待，数据提交中！</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br/>
                <br/>
                <div class="col-xs-12 col-sm-12 progress-container">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width:0%"></div>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- title sheet-->
{% block breadcrumb %}
<li class="active">
    <a href="#">
        <strong>新卡测试信息表</strong>
    </a>
</li>
{% endblock %}

{% block row %}
<div class="anp" id="alert-model"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>设置面板</h5>
                <small></small>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li style="text-align:center"><small><strong>表格显示设置</strong></small>
                        </li>
                        <li>
                            <div><br/></div>
                        </li>
                        <li>
                            <div id='jqxDropDownList'>
                            </div>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" id="vsim_test_table_imsi">
                            <div class="input-group input-daterange" id="datepicker">
                                <span class="input-group-addon"><strong>imsi</strong></span>
                                <input type="text" class="input-sm form-control" name="start" id="input-imsi"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <select class="select-person" name="person" id="select2-form-person" style="width:120px;">
                            <option ></option>
                        </select>
                        <select class="select-country" name="country" id="select2-form-country" style="width:120px;">
                            <option ></option>
                        </select>
                    </div>
                    <div style="text-align:center" class="col-sm-3 m-b-xs">
                        <button id="newVsimTestInfoDataGet" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                            查询
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" class="row">
    <div data-toggle="buttons" class="btn-group">
        <button id="Flash" type="button" class="btn btn-sm btn-default ">
            刷新
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button id="Export" type="button" class="btn btn-sm btn-default ">
            导出
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
        </button>
        <button id="Delete" type="button" class="btn btn-sm btn-default ">
            批量删除
            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
        </button>
        <button id="Update" type="button" class="btn btn-sm btn-default ">
            批量更新
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        </button>
        <button id="Insert" type="button" class="btn btn-sm btn-default ">
            批量导入
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="table-responsive">
    <div id='mygrid'>
        <div id="jqxgrid"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% assets "jqwidgets_globle_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
{% assets "new_vsim_test_info_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

{% endblock %}