{% extends "main_base.html" %}


{% block title %}卡资源APP{% endblock %}

{% block head %}
{{ super() }}
{% assets "vsimmanual_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block modal %}
<!-- delete Modal -->
<div class="modal fade" id="manualModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">请等待，数据提交中！</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br/>
          <br/>
          <div class="col-xs-12 col-sm-12 progress-container">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success" style="width:0%"></div>
              </div>
          </div>
          <br/>
          <br/>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li class="active">
    <a href="#">
        <strong>卡资源手工维护表</strong>
    </a>
</li>
{% endblock %}

{% block row %}
<!-- 虚拟机手工表资源 -->
<!--筛选告警栏-->
<div class="anp" id="app-growl"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>虚拟机卡资源表单</h5>
                <small>注：国家为必填项，负责人可以不用设置.</small>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li align="center"><small><strong>表格显示设置</strong></small></li>
                        <br/>
                        <li align="center">
                            <div id='jqxDropDownList'>
                            </div>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="select-country" name="country" id="AMZ-form-country" style="width:120px;">
                            <option ></option>
                        </select>
                        &nbsp;&nbsp;
                        <select class="select-person" name="person" id="AMZ-form-person" style="width:120px;">
                            <option ></option>
                        </select>
                        &nbsp;&nbsp;
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div data-toggle="buttons" class="btn-group">
                            <button id="SrcVsimDataGet" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs ">
                                查询
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div align="center" class="row">
                        <div data-toggle="buttons" class="btn-group">
                            <button id="SrcVsimDataFlash" type="button" class="btn btn-default ">
                                刷新
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                            <button id="excelExport" type="button" class="btn btn-default ">
                                导出
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            </button>
                            <button id="manualDelete" type="button" class="btn btn-default ">
                                批量删除
                                <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
                            </button>
                            <button id="manualUpdate" type="button" class="btn btn-default ">
                                批量更新
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            </button>
                            <button id="manualInsert" type="button" class="btn btn-default ">
                                批量导入
                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div id='mygrid'>
        <div id="jqxgrid"></div>
    </div>
</div>
<!--现网资源-->
<div class="anp" id="onSysapp-growl"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新架构卡资源表单：</h5>
                <small>注：本表格用于查询新架构系统卡资源状态表单，表单数据与系统数据库数据实时同步.</small>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li align="center"><small><strong>表格显示设置</strong></small></li>
                        <br/>
                        <li align="center">
                            <div id='OnSysjqxDropDownList'>
                            </div>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="select-country" name="country" id="onSys-form-country" style="width:120px;">
                            <option ></option>
                        </select>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div data-toggle="buttons" class="btn-group">
                            <button id="onSysSrcVsimDataGet" type="button" class="btn btn-primary ">
                                查询
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <button id="onSysSrcVsimFlash" type="button" class="btn btn-default ">
                                刷新
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                            <button id="onSysSrcVsimexcelExport" type="button" class="btn btn-default ">
                                导出
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div id='OnSysmygrid'>
        <div id="OnSysjqxgrid"></div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{% assets "jqwidgets_globle_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
{% assets "vsimmanual_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

{% endblock %}