{% extends "main_base.html" %}


{% block title %}卡资源APP{% endblock %}

{% block head %}
{{ super() }}
{% assets "vsimmanual_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block modal %}
<!-- delete Modal -->
<div class="modal fade" id="manualModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">请等待，数据提交中！</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br/>
          <br/>
          <div class="col-xs-12 col-sm-12 progress-container">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success" style="width:0%"></div>
              </div>
          </div>
          <br/>
          <br/>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li class="active">
    <a href="#">
        <strong>卡资源手工维护表</strong>
    </a>
</li>
{% endblock %}

{% block row %}
<!-- 虚拟机手工表资源 -->
<!--筛选告警栏-->
<div class="anp" id="manual_alert"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>虚拟机卡资源表单</h5>
                <small>注：国家为必填项，负责人可以不用设置.</small>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li style="text-align:center">
                            <small><strong>表格显示设置</strong></small>
                        </li>
                        <li>
                            <div><br/></div>
                        </li>
                        <li>
                            <div id='jqxDropDownList'>
                            </div>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="select-country" id="manual-form-country" style="width:120px;">
                            <option ></option>
                        </select>
                        &nbsp;&nbsp;
                        <select class="select-person" id="manual-form-person" style="width:120px;">
                            <option ></option>
                        </select>
                        &nbsp;&nbsp;
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" id="manual_imsi">
                            <div class="input-group input-daterange">
                                <span class="input-group-addon"><strong>imsi</strong></span>
                                <input type="text" data-toggle="tooltip" class="input-sm form-control"
                                       id="manual_input_imsi"
                                       title='单imsi查询,支持开头模糊查询'/>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-sm-3 m-b-xs">
                        <button id="SrcVsimDataGet" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs ">
                            查询
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" class="row">
    <div data-toggle="buttons" class="btn-group">
        <button id="manualGridFlash" type="button" class="btn btn-sm btn-default ">
            刷新
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button id="manual_excel_export" type="button" class="btn btn-sm btn-default ">
            导出
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
        </button>
        <button id="manualDelete" type="button" class="btn btn-sm btn-default ">
            批量删除
            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
        </button>
        <button id="manualUpdate" type="button" class="btn btn-sm btn-default ">
            批量更新
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        </button>
        <button id="manualInsert" type="button" class="btn btn-sm btn-default ">
            批量导入
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="table-responsive">
    <div id='mygrid'>
        <div id="jqxgrid"></div>
    </div>
</div>
<!--现网资源-->
<div class="anp" id="sys_alert"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新架构卡资源表单：</h5>
                <small>注：本表格用于查询新架构系统卡资源状态表单，表单数据与系统数据库数据实时同步.</small>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li style="text-align:center"><small><strong>表格显示设置</strong></small></li>
                        <li>
                            <div><br/></div>
                        </li>
                        <li>
                            <div id='sys_drop_down_list'>
                            </div>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="select-country" id="sys_form_country" style="width:120px;">
                            <option ></option>
                        </select>
                        <select class="form-org" title="org" id="org_select" style="width:120px;">
                            <option value="GTBU" selected="selected">GTBU</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" id="vsim_test_table_imsi">
                            <div class="input-group input-daterange">
                                <span class="input-group-addon"><strong>imsi</strong></span>
                                <input type="text" data-toggle="tooltip" class="input-sm form-control"
                                       id="sys_input_imsi"
                                       title='单imsi查询,支持开头模糊查询' />
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="col-sm-3 m-b-xs">
                        <button id="sys_grid_data_get" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs ">
                            查询
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <br/>
                <div align="center" class="row">
                    <div class="form-group" id="vsim_test">
                        <div class="input-group input-daterange">
                            <span class="input-group-addon"><strong>状态筛选： 可用状态</strong></span>
                            <input type="text" value="0" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_status"
                                   title='支持多状态查询：
                                   可用状态：0,2,4,8,16'/>
                            <span class="input-group-addon"><strong>业务状态</strong></span>
                            <input type="text" value="0" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_business_status"
                                   title='支持多状态查询：
                                   0-卡未停用，1-卡已停用，2-卡预停用 （手工），3-流量不足，停用，
                                   4 -卡pending， 5-待测试卡（只能定向分配），6-待下架卡，7-流量封顶停用'/>
                            <span class="input-group-addon"><strong>套餐状态</strong></span>
                            <input type="text" value="0,1" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_package_status"
                                   title='支持多状态查询：
                                   0正常，1限速，2不可用，3套餐过期'/>
                            <span class="input-group-addon"><strong>卡位状态</strong></span>
                            <input type="text" value="0,1" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_slot_status"
                                   title='支持多状态查询：
                                   0未拔出，1已拔出 ,2卡槽异常' />
                            <span class="input-group-addon"><strong>bam状态</strong></span>
                            <input type="text" value="0,1" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_bam_status"
                                   title='支持多状态查询：
                                   0 BAM正常，1 BAM异常' />
                            <span class="input-group-addon"><strong>占用状态</strong></span>
                            <input type="text" value="0,1" data-toggle="tooltip" class="input-sm form-control"
                                   id="sys_ocupy_status"
                                   title='支持多状态查询：
                                   0未占用，1已占用'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" class="row">
    <div data-toggle="buttons" class="btn-group">
        <button id="sysGridFlash" type="button" class="btn btn-sm btn-default ">
            刷新
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button id="sys_excel_export" type="button" class="btn btn-sm btn-default ">
            导出
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="table-responsive">
    <div id='sys_grid_div'>
        <div id="sys_grid"></div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{% assets "jqwidgets_globle_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
{% assets "vsimmanual_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

{% endblock %}